/* Responsive 767px max */

/* BODY */
 
    body
    {
        margin: 0;
        padding: 0;
    }

    h1 p
    {
        flex-wrap: wrap;
    }

    main
    {
        margin: 0;
        padding: 0;
    }


/* HEADER */

    header
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 3%;
    }
  
    #logo-header img
    {
        height: auto;
        width: 30%;
        padding-top: 5%;
        padding-left: 5%;
    }
    
    /*
    #mobile-inscrire
    {        
        display: flex;
        justify-content: flex-end;
        font-size: 1.2em;
        margin-top: -10%;
        margin-right: 0;
        padding-right: 5%;
    }  
    */



    #nav-list a:hover
    {
        border-top: none;
    }
   
    #nav-list
    {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding-right: 0;
        margin: 0;
    }

    #header-inscription 
    {
        width: 90%;
        text-align: right;
        margin-top: -10%;
        margin-right: 5%;
    }

    .nav-responsive
    {
        width: 50%;
        margin: 0;
    }

    #nav-activites
    {
        padding: 0;
        margin: 0;
    }

    #nav-hebergement-activites
    {
        width: 100%;      
        font-size: 0.9em;
        margin-top: 10%;         
        display: flex;
        padding-right: 0;
    }
    

  header span
    {
        text-align: center;
        width: 100%;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 15px;       
    }

    header span:hover
    {
        border-bottom: 3px solid #0065fc;
        padding-bottom: 15px;                
    }
   
    
/* RECHERCHE */

    #search
    {
        width: 100%;
    }

    #search-town h1
    {
        font-size: 1.40em;
        width: 80%;
        padding-left: 6%;
        padding-right: 0;
        text-align: justify;
    }

    #search-town p
    {
        padding-left: 6%;
        font-size: 1em;
        padding-bottom: 4%;
    }

    #recherche
    {
        width: 87%; 
        padding-left: 6%;        
    }
  
    #la
    {
        width: 20%;
    }

   #loupe 
    {
        display: inline-block;
        color: white;
        background-color: #0065fc;
        text-align: center;    
        border-radius: 20px 20px 20px 20px;
        width: 55px;
        height: 35px;    
        padding-top: 15px;
        margin: 0 auto;  
    }

    #rechercher 
    {
        display: none;
    }


/* FILTRES */
    
    #filters
    {
        flex-wrap: wrap;
        padding-top: 5%;      
        padding-left: 5.5%; 
    }

    #titre-filtre
    {
        width: 100%;
        font-size: 1.1em;
        padding-left: 2%;
    }

    .filtre
    {
        margin-top: 15px;
        width: 180px;        
    }

    #information
    {
        width: 90%;
        font-size: 1em;
        padding-bottom: 8%;
        padding-left: 6%;
        margin-left: 0;
        padding-top: 5%;
    }

    #information-description
    {
        font-size: 1em;
        margin-left: 2%;      
    }
  
    .stars
    {
        margin-top: 10%;
    }

/* SECTION PRINCIPALE */

    #principal_section
    {
        width: 100%;          
    }

    #title-hebergement
    {    
        margin-left: 5%;    
    }

    #title
    {
        font-size: 1.41em;
        padding-left: 3%;
        margin-bottom: 2%;
        
    }
   
    #principal_section 
    {
       flex-wrap: wrap-reverse;
       width: 100%;       
    }
        
   article
   {
       width: 100%;
       flex-wrap: wrap;
       background-color: white;
       padding-top: 3%;      
   }


   #description-title
   { 
       background-color: white;
       border: rgba(255, 255, 255, .5); 
       margin-right: 0;
       padding-right: 0;      
       width: 110%; 
       padding-left: 0;
   }

   .description
   {     
       background-color: white;
       border: rgba(255, 255, 255, .5); 
       margin-right: 0;
       padding-right: 0;
       
   }

   .card
   {
       height: 200px;
       min-width: 330px;
       box-shadow: 0px 20px 50px 7px #f2f2f2;
   }

   .card-image
   {
       height: 115px;       
   } 

   .card-image img
   {
     min-height: 0;
   }

   .card-description
   {
       height: 75px;
   }

   .card-description h2
   {
       margin-bottom: 10px;
       font-size: 1.3em;
   }

   .card-description p
   {
       margin-top: -5px;
   }

   #more
   {       
       padding-top: 5%;
       margin-left: 5%;
       font-weight: bolder;
   }


/* LES PLUS POPULAIRES */

   aside
   {       
       width: 100%;
       border-radius: 0;
   }

   #aside-entete
   {
       width: 95%;
       display: flex;
       margin-bottom: 5%;
       margin-top: 9%;
       align-items: center ;
       justify-content: space-between;
   
   }

   #title-aside
   {      
       margin-top: 0;
       width: 90%; 
       font-size: 1.41em;  
   }

    #logo-aside
   {  
       padding-left: 0;    
   }

   .card-content
   {      
       width: 330px;
       height: 140px;
       background-color: white;
   }

   .card-content-image
   {
       width: 130px;
   }

   .card-content-description
    {
       height: 142px; 
       margin-top: -1px;    
    }

   .card-content-description h2
   {
       font-size: 1.4em;
   }

   .card-content-description p
   {
       font-size: 1em;
   }

   .stars
   {
       margin-top: -10px;
   }


/* ACTIVITES A MARSEILLE */

   #activities
   {
       background-position: center;       
       padding-left: 5.5%;      
   }

   #title-activites
   {
    font-size: 1.41em;
   }

   #features-Marseille
   {
       width: 100%;
       display: flex;
       flex-wrap: wrap;
       margin-bottom: 10%;
   }

   .card-features-Marseille
   {
       flex-wrap: wrap;
       min-width: 375px;
       min-height: 190px;
       display: block;
       margin-bottom: -4%;    
   }
 
   .features 
   {    
       width: 89%;
       height: 180px;
       margin: 5%;
   }

   #features-2-3
   {
       width: 89%;
       height: 180px;
       margin-top: -40px;
       margin-bottom: -15px;
       margin: 5%;
   }

   #features-1-3
   {
       width: 89%;
       height: 180px;
       margin-bottom: 5px;
       margin: 5%;
   }

   #ND
   {
       margin-bottom: 6%;      
   }

   #features-Marseille img
   {
       height: 130px;
       width: 335px;
       object-fit: cover;
   }

   .features-description
   {
       height: 55px;      
       padding-top: 0;
       padding-bottom: 0;       
   }

   .features-image-1-1 
   {
       height: 130px;
       width: 335px;
       padding-bottom: 15px;
   }
  
   .features-image-2-3 
   {
       height: 130px;
       width: 335px;
       padding-bottom: 15px;
   }

   .features-image-1-3 
   {
       height: 130px;
       width: 335px;
       padding-bottom: 15px;
   }

   .features-image-1-2
   {
       height: 130px;
       width: 335px;
       padding-bottom: 15px;
   }

  
/* FOOTER */

    footer 
    {
       display: flex;       
       flex-direction: column;
       width: 100%;
       height: 150%;
    }

    footer h2
    {
        font-size: 1.4em;
        margin-left: 6%;
    }

    footer a
    {
        margin-left: 6%;
    }

    .about
    {
        height: auto;       
        width: 100%;
        padding-bottom: 1%;
        padding-top: 2%;
        padding-left: 0;
    }

    .list
    {
        height: 35%;
    }

   
