
/* Eléments principaux de la page */

html
{
    color: black;
}

body
{
    background-color: #ffffff;
    font-family: 'raleway', Arial, sans-serif;    
}

section h1, section h2, footer h2
{
    font-size: 1.6em;
    font-weight: bolder;
}

a
{
    font-size: 1em;
    color: #000000;
    text-decoration: none;    
}

a:hover
{
    color: #0065FC;
}

main
{
    margin-right: 3%;
    margin-left: 3%;
}


/* Header*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2%;
    padding-top: 2%;
}

/* logo */

#logo-header img
{
    width: 40%;  
}

#mobile-inscrire
{
    display: none;
}


/* navigation */

#nav-list
{
    width: 25%;
    display: flex;
    padding-right: 2%;    
    justify-content: space-between;    
    font-size: 1.4em;
}



#nav-list a:hover
{
    border-top: 1px solid #0065fc;
    padding-top: 35px;
}


/* Search */

#search-town p
{
    font-size: 1.1em;
}

#recherche
{         
    display: flex;
    width: 30%; 
}
  
.local
{
    flex: 1 1 auto;
}

#la
{
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    text-align: center;
}

#ici
{
    color: black;
    background-color: #f2f2f2;
    text-align: center;    
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 35px;    
    padding-top: 15px;
    margin: 0 auto;  
}

#text
{
    cursor: pointer;   
    width: 100%;
    height: 90%;
    border: #f2f2f2 1px solid;
    font-weight: bolder;
    font-size: 1em;    
    padding-left: 8%;
}

#rechercher
{    
    color: white;
    background-color: #0065fc;  
    border-radius: 0 20px 20px 0;
    width: 102%;
    height: 100%;    
    border: #f2f2f2 1px solid; 
}

#loupe 
{
    display: none;
}


/* Filtres */

#filters
{
    display: flex;
    align-items: center;
    width: auto;
    width: 70%;
    max-width: 80%;    
    justify-content: space-between;
    font-size: 110%;
    margin-top: 1.5%;   
}

#titre-filtre
{
    width: auto;
    font-size: 1.2em;
    font-weight: bolder;  
    margin-right: 0.5%;  
}

.filtre
{  
    margin-right: 0.5%;
    border: #f2f2f2 3px solid; 
    border-radius: 50px 50px 50px 50px;
}

.filtre:hover
{
    opacity: 0.7;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 49px -9px #0065fc;
}

.logo
{   
    float: left; 
    width: 30%;
    color: #0065fc;  
}

.logo label
{
    padding-top: 35%;
    display: inline-block;    
    width: 95%;
    height: 40px;
    border-radius: 50%;
    background-color: #deebff;
    text-align: center;
}

.choix
{
    display: inline-block;    
    padding-top: 5%;     
    width: 70%; 
    overflow: hidden;
    border-radius: inherit;   
}
 
.choix input
{   font-weight: bolder;
    height: 40px;
    border: #f2f2f2; 
}

#prix
{   
    padding-left: 15%;
}

#place
{   
    padding-left: 22%;
}

#ambiance
{   
    padding-left: 16%;
}

#wouf-wouf
{   
    padding-left: 3%;
}

#logo-information
{
    background-color: #0065fc;
    color: white;
    border-radius: 50px;
    border: #f2f2f2 1px solid; 
}

#information
{
    display: flex;
    align-items: baseline;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

#information-description
{
    padding-left: 0.5%;
}


/* Annonces principales */

#principal_section
{
    display: flex;
    margin-bottom: 3.5%;      
}

.price
{
    font-weight: bold;
}

#description-title
{  
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background: #f2f2f2;    
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    border: #f2f2f2 1px solid; 
    border-radius: 30px;
    justify-content: space-around;      
}

.description
{  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #f2f2f2;   
    border: #f2f2f2 1px solid; 
    border-radius: 30px;      
    justify-content: space-between;      

}
 
.description img
{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%; 
    max-height: 180px;     
    border-radius: 10px 10px 0 0;
}

.card-image img
{
    min-height: 180px;
}

/* Title Hebergement */

#title-hebergement
{   
    width: 95%;
    display: flex;
    margin-top: 3.95%;    
}

#title
{   
    font-size: 1.5em;
    font-weight: bolder;
    margin-left: -2%;    
}


/* Card */

.card
{    
    width: 31%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background: white;
    border: white 6px solid; 
    border-radius: 10px;
    box-shadow: 7px 7px 16px 2px #707070;
}

/* Card description */

.card-description
{    
    padding-left: 4%;
    font-size: 0.9em;    
}

/* Etoile de notation */

.blue
{
    color: #0065fc;
}

.grey
{
    color: #f2f2f2;
}

/* More */

#more
{
    font-size: 1.2em;
    font-weight: bolder;
    padding-bottom: 2%;
    margin-top: 1%;
    padding-left: 1%;
    margin-bottom: 1%;
}


/* ASIDE */

aside
{  
    width: 30%;
    background: #f2f2f2;
    border: #f2f2f2 1px solid; 
    border-radius: 30px;      
}

aside img
{   
    object-fit: cover;
    width: 80%;
    height: 100%;
    min-width: 250px;      
    border-radius: 10px 0 0 10px;    
}

/* Title */

#aside-entete
{
    width: 95%;
    display: flex;
    margin-bottom: 5%;
    margin-top: 9%;
    align-items: center ;
    justify-content: space-between;
}

#title-aside
{  
    font-size: 1.5em;
    font-weight: bolder;    
    margin-left: 4.5%;      
}

#logo-aside
{    
    font-size: 1.6em;    
}

/* Card Content */

.card-content
{   
    min-width: 88%;
    display: flex;   
    width: 88%;
    height: 205px;
    margin-left: auto;  
    margin-right: auto;   
    border: white 6px solid; 
    border-radius: 10px;   
    margin-bottom: 6%;
    box-shadow: 7px 7px 16px 2px #707070;
    background-color: white; 
}

/* Card image */

.card-content-image
{   
    width: 180px;  
}

/* Card Description */

.card-content-description
{
    background: white;
    padding-left: 4.5%;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

.content-description
{
    display: flex;
    flex-direction: column;
    min-height: 60%;
    margin-top: -10%;
}

.content-description p
{
    margin-top: -3%;
}

/* ACTIVITES A MARSEILLE */

#activities

{        
    padding-top: 2%    
}

#title-activites
{
    font-size: 1.6em;
    font-weight: bolder;      
}

#features-Marseille
{   
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    margin-bottom: 3%;
}

.card-features-Marseille
{   
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 
.features
{  
    border: #f2f2f2 1px solid; 
    border-radius: 30px;
    box-shadow: -1px 8px 12px -6px #f2f2f2;   
}

.features-image-1-1
{   
    height: 470px; 
    overflow: hidden;    
    border-radius: 30px 30px 0 0;
}

#img-features-vp
{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.features-image-1-2
{   
    height: 212px;
    overflow: hidden;  
    border-radius: 30px 30px 0 0;
}

#img-features-lgchp
{
    object-fit: cover;      
    width: 100%;
    height: 100%; 
}


#features-1-3
{    
    border: #f2f2f2 1px solid; 
    border-radius: 30px;
    box-shadow: -1px 8px 12px -6px #f2f2f2;   
}

.features-image-1-3
{
    height: 140px; 
    overflow: hidden; 
    border-radius: 30px 30px 0 0;
}


#img-features-1-3
{
   object-fit: cover;
   width: 100%;
   height: 100%;   
}

#features-2-3
{ 
    border: #f2f2f2 1px solid; 
    border-radius: 30px;
    box-shadow: -1px 8px 12px -6px #f2f2f2;   
}

.features-image-2-3
{  
    height: 280px; 
    overflow: hidden;  
    border-radius: 30px 30px 0 0;      
}

#img-features-2-3
{
   object-fit: cover;
   width: 100%;
   height: 100%;   
}

.features-description
{  
    font-weight: bolder;
    padding-top: 3%;
    padding-left: 4%;
    padding-bottom: 4%; 
}


/* FOOTER */

footer
{
    display: flex;
    background-color: #f2f2f2;
    height: 220px;
    justify-content: center;
}

.about
{
    width: 33%; 
    background-color: #f2f2f2;
    padding-left: 3%;
}

footer div
{
    height: 55%;    
}


