
/* Définition des polices personnalisées */

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('fonts/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Eléments principaux de la page */

body
{
    background: color= #ffffff;
    font-family: 'ralewaythin', 'ralewaythin_italic', Arial, sans-serif;
    
}


section h1, section h2, footer h2
{
    font-size: 1.6em;
    font-weight: bolder;
}

a:hover
{
    color: #0065FC;
}

main
{
    margin-right: 50px;
    margin-left: 50px;
}


/* Header*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 45px;
}


/* logo */

#logo-header img
{
    width: 97px;
    height: 34px;
}


/* navigation */

#nav-list
{
    width: 25%;
    display: flex;
    padding-right: 5%;    
    justify-content: space-between;
    margin-top: 35px;
    font-size: 1.2em;
}

a
{
    font-size: 1em;
    color: #000000;
    text-decoration: none;
    
}

#nav-list a:hover
{
    border-top: 1px solid #0065fc;
    padding-top: 35px;
}

.color-nav
{   
    color: #0065fc;   
}



/* Search */

#search-town p
{
    font-size: 1.1em;
}

#recherche
{         
    display: flex;
    width: 500px; 
    padding-top: 10px;
}
  
.local
{
    flex: 1 1 auto;
}

#la
{
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    text-align: center;
}

#ici
{
    color: black;
    background-color: #f2f2f2;
    text-align: center;    
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 35px;    
    padding-top: 15px;
    margin: 0 auto;  
}


#text
{
    cursor: pointer;   
    width: 100%;
    height: 44px;
    border: #f2f2f2 1px solid;
    font-weight: bolder;    
}


#rechercher
{    
    color: white;
    background-color: #0065fc;  
    border-radius: 0 20px 20px 0;
    width: 102%;
    height: 50px;    
    border: #f2f2f2 1px solid; 
}


/* Filtres */

#filters
{
    display: flex;
    align-items: center;
    width: 60%;    
    justify-content: space-between;
    font-size: 20px;
    margin-top: 30px;   
}


#titre-filtre
{
    width: 50px;
    font-size: 1.2em;
    font-weight: bolder;    
}

.filtre
{  
    border: #f2f2f2 3px solid; 
    border-radius: 50px 50px 50px 50px;
}

.filtre:hover
{
    opacity: 0.3;
}


.logo
{   
    float: left; 
    width: 30%;
    color: #0065fc;  
}

.logo #log
{
    padding-top: 18px;
    display: inline-block;    
    width: 95%;
    height: 40px;
    border-radius: 50%;
    background-color: #deebff;
    text-align: center;
}

.choix
{
    display: inline-block;    
    padding-top: 7px;     
    width: 70%; 
    overflow: hidden;
    border-radius: inherit;

    
}
 
.choix input
{   
    height: 40px;
    border: #f2f2f2;
}


#logo-information
{
    background-color: #0065fc;
    color: white;
    border-radius: 50px;
    border: #f2f2f2 1px solid; 
}



#information
{
    padding-top: 15px;
    padding-bottom: 20px;
}

/* Annonces principales */

#principal_section
{
    width: 100%;
    display: flex;
    margin-bottom: 3.5%;
    

}


.price
{
    font-weight: bold;

}

.description
{  
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch; 
    background: #f2f2f2;    
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    border: #f2f2f2 1px solid; 
    border-radius: 30px;  
    
}
 
.description img
{
    display: block;
    object-fit: cover;
    max-width: 500px; 
    object-fit: cover;
    width: 100%;
    height: 100%; 
    max-height: 180px;     
    border-radius: 10px 10px 0 0;
}

/* Title Hebergement */

#title-hebergement
{
    z-index: 2;
    padding-left: 1%;
    padding-top: 2%
    
}

#title
{   
    font-size: 1.6em;
    font-weight: bolder;    
     
}


/* Card */

.card
{    
    display: flex;
    flex-flow: row wrap;
    width: 31%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background: white;
    border: white 6px solid; 
    border-radius: 10px;   
    z-index: 1;
    
    
}



/* Card description */

.card-description
{    
    text-align: left;
    margin: 0;
    left: auto;
    right: auto;
    bottom: -3px;
    color: black;
    width: 100%;
    height: 35%;
    font-size: 0.7em;    
}


/* Etoile de notation */

#blue
{
    color: #0065fc;
}

#grey
{
    color: #f2f2f2;
}


/* More */

#more
{
    font-size: 1.2em;
    font-weight: bolder;
    padding-bottom: 2%;
    margin-top: 1%;
    padding-left: 1%;
}


/* ASIDE */

aside
{  
    width: 28.5%;
    background: #f2f2f2;
    border: #f2f2f2 1px solid; 
    border-radius: 30px;      
}

aside img
{   
    object-fit: cover;
    width: 80%;
    height: 100%;
    min-width: 250px;      
    border-radius: 10px 0 0 10px;
    
}

/* Title */


#title-aside
{ 
    display: flex;    
    padding-left: 4%;    
    padding-top: 6%;
    font-size: 1.6em;
    font-weight: bolder;    
    margin-left: 3.8%;    
    padding-bottom: -1%;
}

#logo-aside-right
{
    font-size: 1em;    
    margin-left: 42%; 
}


/* Card Content */

.card-content
{   
    display: flex;   
    width: 90%;
    height: 180px;
    margin-left: auto;  
    margin-right: auto;   
    border: white 6px solid; 
    border-radius: 10px;   
    margin-bottom: 6%;
    margin-top: 4%;
    
}

/* Card image */


.card-content-image
{   
    width: 180px; 
    height: 180px;   
    background-color: white;
}


/* Card Description */

.card-content-description
{
    width: 400px;
    display : inline-block ;
    background: white;
    color: black;
    padding-left: 3%;
}

.star
{
    padding-top: 10%;
}


/* ACTIVITES A MARSEILLE */

#activities

{    
    padding-left: 1%;
    padding-top: 2%
    
}

#title-activites
{
    font-size: 1.6em;
    font-weight: bolder;    
     
    
}

#features-Marseille
{   display: flex;
    justify-content: space-between;
    width: 100%; 
    padding-top: 1%;
}


.card-features-Marseille
{   
    width: 23%;
    margin-bottom: 2%;
}
   

.features
{  
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10%;
    border: #f2f2f2 1px solid; 
    border-radius: 30px;
    box-shadow: -1px 8px 12px -6px #f2f2f2;   
}


.features-image-1-1
{   
    height: 510px; 
    overflow: hidden;    
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
}

#img-features-vp
{
    display: block;   
    width: 130%;
    height: 100%; 
}


.features-image-1-2
{   
    width: 100%;
    height: 212px;
    overflow: hidden;  
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
}

#img-features-lgchp
{
    display: block;   
    width: 100%;
    height: 100%; 
}


#features-1-3
{
    display: flex;
    flex-flow: row wrap;
    border: #f2f2f2 1px solid; 
    border-radius: 30px;
    box-shadow: -1px 8px 12px -6px #f2f2f2;   
}

.features-image-1-3
{
    width: 100%;
    height: 140px; 
    overflow: hidden;  
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
}

#img-features-1-3
{
   display: block;   
   width: 100%;
   height: 150%;   
}

#features-1-3
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 11%;
    border: #f2f2f2 1px solid; 
    border-radius: 30px;
    box-shadow: -1px 8px 12px -6px #f2f2f2;   
}

#features-2-3
{
    display: flex;
    flex-flow: row wrap;    
    border: #f2f2f2 1px solid; 
    border-radius: 30px;
    box-shadow: -1px 8px 12px -6px #f2f2f2;   
}


.features-image-2-3
{  
    width: 100%;
    height: 280px; 
    overflow: hidden;  
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;  
    
}

#img-features-2-3
{
   display: block;   
   width: 100%;
   height: 100%;   
}


.features-description
{
    font-size: 1em;
    font-weight: bolder;
    text-align: left;
    padding-top: 3%;
    padding-left: 4%;
    padding-bottom: 4%; 
}


/* FOOTER */

footer
{
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
    height: 220px;
    justify-content: center;
    

}

.about
{
    width: 33%;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    list-style-type: none;
    background-color: #f2f2f2;

}

footer div
{
    height: 40px;    
}

footer a
{

}

