
/* Définition des polices personnalisées */

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('fonts/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Eléments principaux de la page */

body
{
    background: color= #ffffff;
    font-family: 'ralewaythin', 'ralewaythin_italic', Arial, sans-serif;
}


section h1, section h2, footer h2
{
    font-size: 1.6em;
    font-weight: bolder;
}

a:hover
{
    color: #0065FC;
}

main
{
    margin-right: 3%;
    margin-left: 3%;
}


/* Header*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2%;
}


/* logo */

#logo-header img
{
    width: 40%;
    
}

#mobile-inscrire
{
    display: none;
}


/* navigation */

#nav-list
{
    width: 25%;
    display: flex;
    padding-right: 5%;    
    justify-content: space-between;
    
    font-size: 1.4em;
}

a
{
    font-size: 1em;
    color: #000000;
    text-decoration: none;
    
}

#nav-list a:hover
{
    border-top: 1px solid #0065fc;
    padding-top: 35px;
}


/* Search */

#search-town p
{
    font-size: 1.1em;
}

#recherche
{         
    display: flex;
    width: 23%; 
}
  
.local
{
    flex: 1 1 auto;
}

#la
{
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    text-align: center;
}

#ici
{
    color: black;
    background-color: #f2f2f2;
    text-align: center;    
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 35px;    
    padding-top: 15px;
    margin: 0 auto;  
}


#text
{
    cursor: pointer;   
    width: 100%;
    height: 90%;
    border: #f2f2f2 1px solid;
    font-weight: bolder;    
}


#rechercher
{    
    color: white;
    background-color: #0065fc;  
    border-radius: 0 20px 20px 0;
    width: 102%;
    height: 100%;    
    border: #f2f2f2 1px solid; 
}

#loupe 
{
    display: none;
}




/* Filtres */

#filters
{
    display: flex;
    align-items: center;
    width: 60%;    
    justify-content: space-between;
    font-size: 110%;
    margin-top: 1.5%;   
}


#titre-filtre
{
    width: 3%;
    font-size: 1.2em;
    font-weight: bolder;    
}

.filtre
{  
    border: #f2f2f2 3px solid; 
    border-radius: 50px 50px 50px 50px;
}

.filtre:hover
{
    opacity: 0.7;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 49px -9px #0065fc;
}


.logo
{   
    float: left; 
    width: 30%;
    color: #0065fc;  
}

.logo #log
{
    padding-top: 35%;
    display: inline-block;    
    width: 95%;
    height: 40px;
    border-radius: 50%;
    background-color: #deebff;
    text-align: center;
}

.choix
{
    display: inline-block;    
    padding-top: 5%;     
    width: 70%; 
    overflow: hidden;
    border-radius: inherit;

    
}
 
.choix input
{   
    height: 40px;
    border: #f2f2f2;
}


#logo-information
{
    background-color: #0065fc;
    color: white;
    border-radius: 50px;
    border: #f2f2f2 1px solid; 
}



#information
{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/* Annonces principales */

#principal_section
{
    display: flex;
    margin-bottom: 3.5%;  
    
}

.price
{
    font-weight: bold;
}

.description
{  
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background: #f2f2f2;    
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    border: #f2f2f2 1px solid; 
    border-radius: 30px;  
    
}
 
.description img
{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%; 
    max-height: 180px;     
    border-radius: 10px 10px 0 0;
}

/* Title Hebergement */

#title-hebergement
{
    padding-left: 1%;
    padding-top: 4%;  
        
}

#title
{   
    font-size: 1.6em;
    font-weight: bolder;    
     
}


/* Card */

.card
{    
    width: 31%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background: white;
    border: white 6px solid; 
    border-radius: 10px;
    box-shadow: 7px 7px 16px 2px #707070;
}



/* Card description */

.card-description
{    
    font-size: 0.9em;    
}


/* Etoile de notation */

#blue
{
    color: #0065fc;
}

#grey
{
    color: #f2f2f2;
}


/* More */

#more
{
    font-size: 1.2em;
    font-weight: bolder;
    padding-bottom: 2%;
    margin-top: 1%;
    padding-left: 1%;
}


/* ASIDE */

aside
{  
    width: 30%;
    background: #f2f2f2;
    border: #f2f2f2 1px solid; 
    border-radius: 30px;      
}

aside img
{   
    object-fit: cover;
    width: 80%;
    height: 100%;
    min-width: 250px;      
    border-radius: 10px 0 0 10px;
    
}

/* Title */


#title-aside
{ 
    display: flex;    
    padding-top: 5%;
    font-size: 1.6em;
    font-weight: bolder;    
    margin-left: 6%;    
    
}

#logo-aside
{
    font-size: 1em;    
    margin-left: 38%; 
    
}


/* Card Content */

.card-content
{   
    display: flex;   
    width: 88%;
    height: 205px;
    margin-left: auto;  
    margin-right: auto;   
    border: white 6px solid; 
    border-radius: 10px;   
    margin-bottom: 6%;
    box-shadow: 7px 7px 16px 2px #707070;
      
}

/* Card image */


.card-content-image
{   
    width: 180px; 
   
}


/* Card Description */

.card-content-description
{
    background: white;
    padding-left: 3%;
    font-size: 0.9em;    

}

.star
{
    padding-top: 28%;
}


/* ACTIVITES A MARSEILLE */

#activities

{    
    padding-left: 1%;
    padding-top: 2%
    
}

#title-activites
{
    font-size: 1.6em;
    font-weight: bolder;    
     
    
}

#features-Marseille
{   display: flex;
    justify-content: space-between;
    padding-top: 1%;
}


.card-features-Marseille
{   
    width: 23%;
    margin-bottom: 2%;
}


   

.features
{  
    margin-bottom: 10%;
    border: #f2f2f2 1px solid; 
    border-radius: 30px;
    box-shadow: -1px 8px 12px -6px #f2f2f2;   
}


.features-image-1-1
{   
    height: 510px; 
    overflow: hidden;    
    border-radius: 30px 30px 0 0;
}

#img-features-vp
{
    height: 100%; 
}


.features-image-1-2
{   
    height: 212px;
    overflow: hidden;  
    border-radius: 30px 30px 0 0;
}

#img-features-lgchp
{
    object-fit: cover;
    display: block;   
    width: 100%;
    height: 100%; 
}


#features-1-3
{
    margin-top: 11%;
    border: #f2f2f2 1px solid; 
    border-radius: 30px;
    box-shadow: -1px 8px 12px -6px #f2f2f2;   
}


.features-image-1-3
{
    height: 140px; 
    overflow: hidden; 
    border-radius: 30px 30px 0 0;
}

#img-features-1-3
{
   width: 100%;
   height: 150%;   
}


#features-2-3
{ 
   
    border: #f2f2f2 1px solid; 
    border-radius: 30px;
    box-shadow: -1px 8px 12px -6px #f2f2f2;   
}


.features-image-2-3
{  
    height: 280px; 
    overflow: hidden;  
    border-radius: 30px 30px 0 0;  
    
}

#img-features-2-3
{
   object-fit: cover;
   width: 100%;
   height: 100%;   
}


.features-description
{  
    font-weight: bolder;
    padding-top: 3%;
    padding-left: 4%;
    padding-bottom: 4%; 
}


/* FOOTER */

footer
{
    display: flex;
    background-color: #f2f2f2;
    height: 220px;
    justify-content: center;
    

}

.about
{
    width: 33%; 
    background-color: #f2f2f2;
    padding-left: 3%;

}

footer div
{
    height: 55%;    
}


