/* Responsive 768px à 1388px */

/* BODY */
 
    body
    {
        margin: 0;
    }

    h1 p
    {
        flex-wrap: wrap;
    }

    main
    {
        margin:0
    }


/* HEADER */


    header
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 3%;
    }

    #logo-header
    {
        width: 100%;
    }

    #logo-header img
    {
        height: auto;
        width: 15%;
        padding-top: 5%;
        padding-left: 5%;
    }
    
    #mobile-inscrire
    {
        display: flex;
        justify-content: flex-end;
        font-size: 1.2em;
        margin-top: -30px;
        width: 90%;
    }  

    #header-inscription
    {
        display: none;
    }

    #nav-list a:hover
    {
        border-top: none;
    }
   
    #nav-list
    {
        width: 100%;        
        font-size: 1.2em;
        padding-top: 10%;  
        padding-right: 0;     
    }

  header span
    {
        text-align: center;
        width: 100%;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 15px;       
    }

    header span:hover
    {
        border-bottom: 3px solid #0065fc;
        padding-bottom: 15px;                
    }
   

/* RECHERCHE */

    #search
    {
        width: 100%;
    }

    #search-town h1
    {
        margin-left: auto;
        margin-right: auto; 
        font-size: 1.5em;
        width: 81%;
        padding-left: 1%;
        padding-right: 5%;
        text-align: justify;
    }

    #search-town p
    {
        margin-left: 7.5%;
        font-size: 1em;
        padding-bottom: 4%;
        
    }
   
   #recherche
    {
        margin-left: 6%;       
        width: 82%;       
    }

   #loupe 
    {
        display: none
    }
    
    #la
    {
        background-color: #f2f2f2;
        border-radius: 20px 0 0 20px;
        text-align: center;
    }

    #ici
    {
        color: black;
        background-color: #f2f2f2;
        text-align: center;    
        border-radius: 20px 0 0 20px;
        width: 50%;
        height: 35px;    
        padding-top: 15px;
        margin: 0 auto;  
    }

    #text
    {
        cursor: pointer;   
        width: 100%;
        height: 90%;
        border: #f2f2f2 1px solid;
        font-weight: bolder;    
    }

    #rechercher
    {    
        color: white;
        background-color: #0065fc;  
        border-radius: 0 20px 20px 0;
        width: 102%;
        height: 100%;    
        border: #f2f2f2 1px solid; 
    }


/* FILTRES */
    
    #filters
    {
        width: 80%;
        flex-wrap: wrap;
        padding-top: 5%;
    }

    #titre-filtre
    {
        width: 100%;
        padding-left: 10%;
    }

    .filtre
    {   
        margin-top: 15px;
        margin-left: 10%;
        justify-content: space-around;   
        width: 30%; 
    }

    .logo
    {
        max-width: 66px;
    }

    #information
    {
        width: 84.5%;
        font-size: 1.06em;
        padding-bottom: 2%;
        padding-left: 8.5%;
    }

    #information-description
    {
      margin-left: 2%;        
    }
  

/* SECTION PRINCIPALE */

    #principal_section
    {
        width: 100%;
    }

    #title-hebergement
    {
       width: 85%;
       display: flex;
       margin-bottom: 4%;
       margin-top: 1%;       
    }

    #title
    {
       font-size: 1.6em; 
       margin-left: 10%;           
    }

    section 
    {
       flex-wrap: wrap-reverse;
       width: 110%;         
    }
        
   article
    {
       width: 100%;
       flex-wrap: wrap;
       background-color: white;
       padding-top: 8%;
       flex-direction: column;    
    }

    #description-title
    {
       width: 100%;
       background-color: white;
       border: white;
    }   

   .description
    {
       width: 100%;
       background-color: white;
       border: white;
       margin-right: 0;
       padding-right: 0;
       padding-left: 0;
       padding-top: 0;
    }

   .card
    {
       margin-left: auto;
       margin-right: auto; 
       width: 47%;
       height: 200px;   
       box-shadow: 0px 20px 50px 7px #f2f2f2;
    }

   .card-image
    {
       height: 115px;       
    } 

    .card-image img
    {
      min-height: 0;
    }

   .card-description
    {
       height: 75px;
    }

   .card-description h2
    {
       margin-bottom: 10px;
       font-size: 1.3em;
    }

   .card-description p
    {
       margin-top: -5px;
    }

   #more
    {       
       padding-top: 3%;
       font-weight: bolder;
       margin-left: 9%;
    }


/* LES PLUS POPULAIRES */

   aside
    {
       width: 100%;
       height: 750px;
       padding-top: 2%;
       border-radius: 0;
    }

    #aside-entete
{
    width: 85%;
    display: flex;
    margin-bottom: 4%;
    margin-top: 1%;
    align-items: center ;
    justify-content: space-between;
}

   #title-aside
    {
       margin-left: 10%;
       font-size: 1.6em;         
    }

    #logo-aside
    {
       padding-left: 0;       
    }

   .card-content
    {          
       width: 45%;
       height: 18.5%;
       min-width: 0;
    }

   .card-content-image
    {
       width: 130px;
       margin-top: 0;
    }

   .card-content-description
    {
       height: 140px;
       margin-bottom: -30px;    
    }

   .card-content-description h2
    {
       font-size: 1.25em;
    }

   .card-content-description p
    {
       font-size: 1em;
    }

    .content-description
    {
        margin-top: 0;
    }

   .stars
    {      
       padding-bottom: 10%;
    }


/* ACTIVITES A MARSEILLE */

    #activities
    {
        margin-bottom: 2%;           
    }

   #title-activites
    {
       margin-left: 10%;  
    }

  #features-Marseille
    {      
       flex-direction: column;
       width: 452px;  
       margin: 0 auto;
    }

   .card-features-Marseille
    {
       width: 100%;
       min-height: 190px;
       margin-top: 15px; 
       margin-bottom: 45px;              
    }
 
   .features 
    {    
       width: 99.5%;
       height: 180px;       
    }

   #features-2-3
    {
       width: 99.5%;
       height: 180px;  
       margin-top: -30px;     
    }

   #features-1-3
    {
       width: 99.5%;
       height: 180px;
       margin-top: 40px;
       margin-bottom: -15px;
    }
    
   #ND
    {
       margin-top: -35px;
       margin-bottom: 33px;
    }

   #features-Marseille img
    {
       height: 130px;
       width: 450px;
       object-fit: cover;
    }

   .features-description
    {
       height: 55px;      
       padding-top: 0;
       padding-bottom: 0;     
    }

   .features-image-1-1 
    {
       height: 130px;
       width: 450px;
       padding-bottom: 15px;
    }
  
   .features-image-2-3 
    {
       height: 130px;
       width: 450px;
       padding-bottom: 15px;
    }

   .features-image-1-3 
    {
       height: 130px;
       width: 450px;
       padding-bottom: 15px;
    }

   .features-image-1-2
    {
       height: 130px;
       width: 450px;
       padding-bottom: 15px;
    }
  

/* FOOTER */

    footer 
    {
       display: flex;
       flex-direction: row;
       width: 100%;
       height: 400px;
    }

    footer h2
    {
        font-size: 1.4em;
    }

    .about
    {
        height: 160px;
        padding-left: 7%;    
        padding-bottom: 1%;
        padding-top: 2%;
    }

    .list
    {
        height: 35%;
    }


